
@font-face {
    font-family: LeagueGothic;
    src: url(./fonts/league-gothic.regular.ttf);
  }
  @font-face {
    font-family: TitilliumWeb-Black;
    src: url(./fonts/TitilliumWeb-Black.ttf);
  }
  @font-face {
    font-family: TitilliumWeb-Regular;
    src: url(./fonts/TitilliumWeb-Regular.ttf);
  }
  
h1, h2, h3, h4 {
    font-family: TitilliumWeb-Black, sans-serif;

}
h5, h6, p, form {
    font-family: TitilliumWeb-Regular, sans-serif;
}


#landing { 
    min-height: 100vh;  
    width: 100%;
  
    background-image: url("img/ripples.png"); /* FALLBACK */
    background-image: url("img/ripples.png"), radial-gradient( #627388, #375f94); /* FALLBACK */
    background-blend-mode:color-burn; 
    background-size:auto;

}



:not(:defined) > * {
    display: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  
  model-viewer {
    width: 100%;
    height: 90%;
    background-color: #ffffff;
  }
  
  .Hotspot {
    background: #fff;
    border-radius: 32px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    padding: 8px;
    position: relative;
    transition: opacity 0.3s;
    width: 24px;
  }
  
  .Hotspot:not([data-visible]) {
    background: transparent;
    border: 4px solid #fff;
    box-shadow: none;
    height: 32px;
    pointer-events: none;
    width: 32px;
  }
  
  .Hotspot:focus {
    border: 4px solid rgb(0, 128, 200);
    height: 32px;
    outline: none;
    width: 32px;
  }
  
  .Hotspot > * {
    opacity: 1;
    transform: translateY(-50%);
  }
  
  .HotspotAnnotation{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: calc(100% + 1em);
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
  }
  
  .Hotspot:not([data-visible]) > * {
    opacity: 0;
    pointer-events: none;
    transform: translateY(calc(-50% + 4px));
    transition: transform 0.3s, opacity 0.3s;
  }
  
  
  .progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
  }
  
  .update-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
  }










/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
